<form dir="rtl" >
  <ion-card>
      <ion-item>
        <ion-card-title> اسم العميل:</ion-card-title>
        <ion-input type="text" required name="value" [(ngModel)]="customer_name"></ion-input>
      </ion-item>
  </ion-card>


  <ion-card>
      <ion-item>
        <ion-card-title> العرض:</ion-card-title>
        <ion-input type="number" required name="value" [(ngModel)]="width"></ion-input >
      </ion-item>
    </ion-card>


    <ion-card>
      <ion-item>
        <ion-card-title> الارتفاع:</ion-card-title>
        <ion-input type="number" required name="value" [(ngModel)]="hight"></ion-input>
      </ion-item>
    </ion-card>


      <ion-card>
      <ion-item>
        <ion-card-title> السعر:</ion-card-title>
        <ion-input type="number" required name="value" [(ngModel)]="price"></ion-input>
      </ion-item>
    </ion-card>

    <div style="text-align: center;" >
      <ion-button (click)="saveNotes(customer_name , width, hight ,price)" color="primary">احسب العملية</ion-button>
    </div>
  
    </form>