<ion-header>
  <ion-toolbar>
    <ion-title>
      تسجيل الدخول
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-card class="example-card">

    <mat-card-content>
      <form class="example-form">
        <mat-form-field style="width: 100%;" class="example-full-width">
          <input matInput placeholder="رمز الدخول" [(ngModel)]="accessCode" name="accessCode" required>
          </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">
        
      تسجيل الدخول
        
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="hasErr" style="margin-top: 5%;" >
    <p style="color: red;" >
      اسف لايمكنك تسجيل الدخول الان بسبب ان حسابك تم ايقافه الرجاء التةاصل معانا علي لارقام :
      <br> 
      <a href="tel:01150426974">01150426974</a>
      <br> 
      <a href="tel:01112553539">01112553539</a>

    </p>
  </mat-card>
</ion-content>
