<form dir="rtl">
  <h2>
    <span *ngIf="!id" >
      قم باضافة عملية 
    </span>
    <span *ngIf="id" >
قم بتعديل العملية
    </span>
    <span>
      <ion-icon (click)="close()" name="close-outline"></ion-icon>
    </span>
  </h2>
  <ion-item>
    <ion-label position="floating" > اسم العملية</ion-label>
    <ion-input type="text" required name="equationName" [(ngModel)]="equationName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" > نوع العملية</ion-label>
    <ion-select [value]="equationType"  (ionChange)="equationType = $event.detail.value" placeholder="اختار نوع العملية">
      <ion-select-option *ngFor="let type of types" value="{{type.value}}">{{type.name}}</ion-select-option>
    </ion-select> 
   </ion-item>

  <ion-item>
    <ion-label position="floating" > العرض</ion-label>
    <ion-input type="number" required name="width" [(ngModel)]="width"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating" > الارتفاع</ion-label>
    <ion-input type="number" required name="hight" [(ngModel)]="hight"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" > طول العمود</ion-label>
    <ion-input type="number" required name="poleHeight" [(ngModel)]="poleHeight"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" > وزن العمود</ion-label>
    <ion-input type="number" required name="poleWeight" [(ngModel)]="poleWeight"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" > السعر </ion-label>
    <ion-input type="number" required name="price" [(ngModel)]="price"></ion-input>
  </ion-item>

<!-- 
  <ion-item>
    <ion-label position="floating" > السعر</ion-label>
    <ion-input type="number" required name="value" [(ngModel)]="price"></ion-input>
  </ion-item> -->

  <div style="text-align: center;position: absolute;bottom: 0;left: 35%;">
    <ion-button (click)="saveProcess( equationName , equationType , width, hight , poleHeight , poleWeight , price )" color="primary">احفظ العملية</ion-button>
  </div>

</form>