<form dir="rtl">
  <h2>
    <span>
      قم باضافة عملية 
    </span>
    <span>
      <ion-icon name="close-outline"></ion-icon>
    </span>
  </h2>
  <ion-item>
    <ion-label position="floating" > اسم العملية</ion-label>
    <ion-input type="text"  name="value" [(ngModel)]="equationName" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" > نوع العملية</ion-label>
    <ion-select  (ionChange)="equationType = $event.detail.value" placeholder="اختار نوع العملية">
      <ion-select-option *ngFor="let type of types" value="{{type.value}}" >{{type.name}}</ion-select-option>
    </ion-select> 
   </ion-item>

  <ion-item>
    <ion-label position="floating" > العرض</ion-label>
    <ion-input type="number"  name="value" [(ngModel)]="width"required></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating" > الارتفاع</ion-label>
    <ion-input type="number"  name="value" [(ngModel)]="hight"required></ion-input>
  </ion-item>

<!-- 
  <ion-item>
    <ion-label position="floating" > السعر</ion-label>
    <ion-input type="number" required name="value" [(ngModel)]="price"></ion-input>
  </ion-item> -->

  <div style="text-align: center;position: absolute;bottom: 0;left: 35%;">
    <ion-button (click)="saveNotes( equationName , equationType , width, hight )" color="primary">احسب العملية</ion-button>
  </div>

</form>