
<ion-content>

    <ion-card>
    <ion-card-header>
      <ion-card-title>{{eldalfa.width}} عرض الضلفه</ion-card-title>
      <ion-card-title>{{eldalfa.hight}} ارتفاع الضلفه</ion-card-title>
      
    </ion-card-header>
    </ion-card>
    

            
        
            <ion-card>
        <ion-card-header>
            <ion-card-title>{{elezaz.width}} عرض الازاز</ion-card-title>
            <ion-card-title>{{elezaz.hight}} ارتفاع الازاز</ion-card-title>
            
        </ion-card-header>
        </ion-card>

                
                        <ion-card>
            <ion-card-header>
                <ion-card-title>{{wazn_eldalfa}} وزن الضلف</ion-card-title>
                
            </ion-card-header>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    <ion-card-title>{{wazn_elsekena}} وزن السكينه</ion-card-title>
                    
                </ion-card-header>
                </ion-card>

                <ion-card>
                    <ion-card-header>
                      <ion-card-title>{{wazn_el7elkan}} وزن الحلقان</ion-card-title>
                      
                    </ion-card-header>
                    </ion-card>


                    <ion-card>
                        <ion-card-header>
                            <ion-card-title>{{else3r}} السعر</ion-card-title>                          
                        </ion-card-header>
                        </ion-card>
</ion-content>
