// ion-content{
//   --background: linear-gradient(to top, #124D72, #124D72)0% 0%/100% 80% no-repeat ,white 0% 100%/100% 50% no-repeat;   
//   }

//   ion-card, ion-card-title{
//     --background: translucent;
//     text-align: right;
//     color: wheat;
//   }
  

ion-card-title{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 16px;
    border-bottom: 1px solid;
}