<ion-header>
    <ion-toolbar>
        <ion-title>{{note.customer_name}}</ion-title>


    </ion-toolbar>
</ion-header>
<ion-content dir="rtl" >

    <ion-card-title>
        <span>
            {{eldalfa.width}}
        </span>
        <span>
            عرض الضلفه
        </span>
    </ion-card-title>
    <ion-card-title>
        <span>
            {{eldalfa.hight}}
        </span>
        <span>
            ارتفاع الضلفه
        </span>
    </ion-card-title>






    <ion-card-title>
        <span>
            {{elezaz.width}}
        </span>
        <span>
            عرض الازاز
        </span>
    </ion-card-title>
    <ion-card-title>
        <span>
            {{elezaz.hight}}
        </span>
        <span>
            ارتفاع الازاز
        </span>
    </ion-card-title>



    <ion-card-title>
        <span>
            {{wazn_eldalfa | number:'1.0-2'}}
        </span>
        <span>
            وزن الضلف

        </span>
    </ion-card-title>



    <ion-card-title>
        <span>
            {{wazn_elsekena| number:'1.0-2'}}
        </span>
        <span>
            وزن السكينه
        </span>
    </ion-card-title>


    <ion-card-title>
        <span>
            {{wazn_el7elkan| number:'1.0-2'}}
        </span>
        <span>
            وزن الحلقان

        </span>
    </ion-card-title>




    <ion-card-title>
        <span>
            {{else3r| number:'1.0-2'}}

        </span>
        <span>
            السعر

        </span>
    </ion-card-title>

</ion-content>