<ion-header>
  
</ion-header>

<ion-content >
  <form (ngSubmit)="saveNotes(title , content,date)">
    
        <ion-item>
          <ion-label position="stack">Title:</ion-label>
          <ion-textarea required name="value" [(ngModel)]="title"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stack">Content:</ion-label>
          <ion-textarea required name="value" [(ngModel)]="content"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="stack">Date:</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" name="value" [(ngModel)]="date"></ion-datetime>
          <!--min="1994-03-14" max="2012-12-09-->
        </ion-item>
        <ion-button type="submit">Save Note</ion-button>
      </form>
</ion-content>
